<!-- Define a function to render each message -->
<% function renderMessage(message) { %>
    <div class="item-preview">
      <a href="/single-message/<%= message._id %>">
        <h2>Sender: <%= message.sender %></h2>
        <p>Written by Pratima</p>
      </a>
    </div>
  <% } %>
  
  
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Messages</title>
      <link rel="stylesheet" href="/css/styles.css" />
      <!-- Link to external stylesheet -->
    </head>
    <body>
      <nav class="navbar">
        <h1>My Messages</h1>
        <div class="links">
          <a href="/">Home</a
          ><a class="new-item-link" href="/addmessage">New Message</a>
        </div>
      </nav>
  
      <div class="content">
        <div class="home">
          <div class="item-list">
            <% if (messages.length > 0) { %>
            <!-- Call the renderMessage function for each message -->
            <% messages.forEach(renderMessage); %> <% } else { %>
            <p>No messages found.</p>
            <% } %>
          </div>
        </div>
      </div>
    </body>
  </html>